/_build
/cover
/deps
/doc
/docs/Towers of Hanoi.epub
/rel
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.DS_Store
fly.toml
hanoi 
hanoi.log
/priv/static/assets/
/priv/static/cache_manifest.json
npm-debug.log
/assets/node_modules/
